// page
$zero-point: 457px;
$first-point: 568px;
$second-point: 667px;
$third-point: 768px;
$fourth-point: 1024px;
$fourth-point-mediate: 1200px;
$fifth-point: 1366px;
$sixth-point: 1440px;


// GRID GAP
$grid-gap: 10px;
$grid-gap-md: 15px;


// PAGE
$page-horizontal-gap: 15px;
$page-width: 1240px;

// TYPOGRAPHY
$font-main: 'Gilroy';
$font-alt: 'Gilroy';

$font-main-regular: 400;
$font-main-medium: 500;
$font-main-bold: 700;

$line-height: 1.625;

$font-size: 16px;
$font-size-xs: 16px;

$font-size-h1: 30px;
$font-size-h1-sm: 26px;
$font-size-h1-xs: 24px;

$font-size-h2: 30px;
$font-size-h2-sm: 26px;
$font-size-h2-xs: 22px;

$font-size-h3: 24px;
$font-size-h3-sm: 24px;
$font-size-h3-xs: 20px;

$font-size-h4: 20px;
$font-size-h4-sm: 20px;
$font-size-h4-xs: 20px;

$font-size-h-xs: 16px;
$font-size-h: 18px;
