mixin include-js()
    script(src="static/js/jquery-3.1.1.min.js")
    script(src="static/js/bs-plugins.js")
    script(async="" src="static/js/lazysizes.min.js")
    script(src="static/js/slick.min.js")
    script(src="static/js/jquery.validate.min.js")
    script(src="static/js/jquery.dotdotdot.js")
    script(src="static/js/jquery.fancybox.min.js")
    script(src="static/js/custom.js")
