/*!------------------------------------------------------------------------------

        c-hdr-S-1

------------------------------------------------------------------------------*/

.c-hdr-S-1 {
    .__cl-c-hdr {
        &___ {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 20px 0 10px;
            z-index: 2;
            transition: .2s linear;
        }

        &__center___ {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
        }

        &__logo-box___ {
            @extend %img-link;
            max-width: 140px;
        }

        &__box___ {
            font-size: 0;
        }

        &__hamburger-btn___ {
            @extend %bttn-reset;
            width: 31px;
            height: 31px;
            background-image: url("data:image/svg+xml,%3Csvg height='512' viewBox='0 -53 384 384' width='512' fill='#{url-friendly-color($hdr-btn-fill)}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M368 154.668H16c-8.832 0-16-7.168-16-16s7.168-16 16-16h352c8.832 0 16 7.168 16 16s-7.168 16-16 16zm0 0M368 32H16C7.168 32 0 24.832 0 16S7.168 0 16 0h352c8.832 0 16 7.168 16 16s-7.168 16-16 16zm0 0M368 277.332H16c-8.832 0-16-7.168-16-16s7.168-16 16-16h352c8.832 0 16 7.168 16 16s-7.168 16-16 16zm0 0'/%3E%3C/svg%3E");
            background-size: contain;

            &:focus {
                outline: none;
            }
        }

        &__list___ {
            @extend %ul-reset;
        }

        &__link___ {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-transform: uppercase;

            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
            }
        }

        &__btn-collapse___ {
            @extend %bttn-reset;
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            margin: -15px 45px 0 8px;
            padding: 5px;
            font-size: 0;

            &:focus {
                outline: none;
            }

            &:before {
                content: '';
                display: block;
                width: 9px;
                height: 9px;
                border-color: $hdr-link-mob $hdr-link-mob transparent transparent;
                border-style: solid;
                border-width: 2px 2px 0 0;
                border-radius: 2px;
                transform: rotate(135deg);
                transition: all .1s;
            }

            &[aria-expanded="true"] {
                margin: -7px 45px 0 8px;

                &:before {
                    transform: rotate(-45deg);
                }
            }
        }

        &__submenu___ {
            @extend %ul-reset;
            padding: 8px 15px 10px;
        }

        &__submenu-el___ {
            margin-bottom: 3px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__submenu-link___ {
            font-size: 16px;
            color: $hdr-sub-link-mob;

            &:hover,
            &:focus,
            &:active {
                color: $hdr-sub-link-mob-hov;
                text-decoration: none;
            }
        }

        @include respond-from(to-md) {
            &__logo-box___,
            &__hamburger-btn___ {
                position: relative;
                z-index: 161;
            }

            &__modal___ {
                top: 65px;
                overflow-x: hidden;
                overflow-y: auto;
                background: $hdr-modal-fill;

                &.fade {
                    .modal-dialog {
                        transform: translate(0, -25%);
                    }
                }

                &.in {
                    .modal-dialog {
                        transform: translate(0, 0);
                    }
                }
            }

            &__dialog___ {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                padding: 16px 0;
                overflow-x: hidden;
                overflow-y: auto;
                text-align: left;
            }

            &__item-in___ {
                padding: 5px 15px;

                &.is-hover {
                    background: $hdr-item-hov-mob;

                    .__cl-c-hdr {
                        &__link___ {
                            color: $hdr-link-mob-hov;
                        }

                        &__btn-collapse___ {
                            &:before {
                                border-color: $hdr-link-mob-hov;
                            }
                        }
                    }
                }
            }

            &__link___ {
                color: $hdr-link-mob;
                transition: all .1s;

                &:hover,
                &:focus,
                &:active {
                    text-decoration: none;
                    outline: none;
                }
            }
        }

        @include respond-from(md) {
            &___ {
                padding: 50px 0 10px;
            }

            &__hamburger-btn___ {
                display: none;
            }

            &__center___ {
                justify-content: space-between;
            }

            &__logo-box___ {
                flex: 0 0 75px;
                max-width: 75px;

                img {
                    width: 100%;
                    max-width: 75px
                }
            }

            &__box___ {
                display: flex;
                flex: 1 1 auto;
                justify-content: space-between;
                align-items: center;
            }

            &__modal___ {
                position: static;
                display: block !important;
                width: 100%;
                z-index: auto !important;
                overflow: visible;
                font-size: 0;
                opacity: 1;
                visibility: visible;
                transition: none !important;
            }

            &__dialog___ {
                transform: none !important;
                transition: none !important;
            }

            &__list___ {
                display: flex;
                align-items: center;
                padding: 0 0 0 40px;
            }

            &__item___ {
                position: relative;
            }

            &__link___ {
                display: inline-block;
                color: $hdr-link;
                text-transform: none;

                &:last-child {
                    padding: 0;
                }
            }

            &__submenu-drop___ {
                position: absolute;
                top: 100%;
                left: 0;
                display: block !important;
                visibility: hidden;

                &.in {
                    visibility: visible;

                    .__cl-c-hdr__submenu___ {
                        opacity: 1;
                        transform: translateX(0);
                    }
                }
            }

            &__submenu___ {
                width: 422px;
                margin-top: 8px;
                padding: 23px 0 29px;
                background: $hdr-sub-drop-fill;
                opacity: 0;
                transform: translateY(10px);
                transition: all .3s ease;
            }

            &__submenu-link___ {
                display: block;
                padding: 4px 40px;
                font-weight: 500;

                &:hover,
                &:focus,
                &:active {
                    background: $hdr-sub-link-fill-hov;
                    color: $hdr-sub-link-text-hov;
                }
            }

            &__search {
                &___ {
                    position: relative;
                    width: 360px;
                }


                &-field___ {
                    width: 100%;
                    height: 44px;
                    padding: 0 46px 0 23px;
                    background: $hdr-search-fill;
                    border: none;
                    border-radius: 9px;
                    font-size: 15px;
                    color: $hdr-search-text;

                    &:focus {
                        outline: none;

                        &::placeholder {
                            color: transparent;
                        }
                    }
                }

                &-btn___ {
                    position: absolute;
                    top: 50%;
                    right: 19px;
                    width: 23px;
                    height: 23px;
                    padding: 0;
                    background: transparent;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 511.999 511.999' fill='#{url-friendly-color($hdr-search-icon)}' %3E%3Cpath d='M508.874 478.708L360.142 329.976c28.21-34.827 45.191-79.103 45.191-127.309C405.333 90.917 314.416 0 202.666 0S0 90.917 0 202.667s90.917 202.667 202.667 202.667c48.206 0 92.482-16.982 127.309-45.191l148.732 148.732c4.167 4.165 10.919 4.165 15.086 0l15.081-15.082c4.165-4.166 4.165-10.92-.001-15.085zM202.667 362.667c-88.229 0-160-71.771-160-160s71.771-160 160-160 160 71.771 160 160-71.771 160-160 160z'/%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                    background-size: contain;
                    border: none;
                    transform: translateY(-12px);
                    transition: all .1s;

                    &:focus {
                        outline: none;
                    }

                    &:hover,
                    &:focus {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 511.999 511.999' fill='#{url-friendly-color($hdr-search-icon-hov)}' %3E%3Cpath d='M508.874 478.708L360.142 329.976c28.21-34.827 45.191-79.103 45.191-127.309C405.333 90.917 314.416 0 202.666 0S0 90.917 0 202.667s90.917 202.667 202.667 202.667c48.206 0 92.482-16.982 127.309-45.191l148.732 148.732c4.167 4.165 10.919 4.165 15.086 0l15.081-15.082c4.165-4.166 4.165-10.92-.001-15.085zM202.667 362.667c-88.229 0-160-71.771-160-160s71.771-160 160-160 160 71.771 160 160-71.771 160-160 160z'/%3E%3C/svg%3E");
                    }
                }
            }
        }
    }
}

/*!------------------------------------------------------------------------------

        c-hdr-S-1

------------------------------------------------------------------------------*/
